.App {
  font-family: 'Montserrat', Arial, sans-serif;
}

.about {
  height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('/public/About.jpeg') no-repeat center center/cover;
  /* 40% brightness overlay */
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  position: relative;
  z-index: 0;
}

.about h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

.about h1 span {
  color: #007bff;
  font-style: italic;
}