.App {
  font-family: 'Montserrat', Arial, sans-serif;
  scroll-behavior: smooth;
}

.about {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/public/About.jpg') no-repeat center center/cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  position: relative;
  z-index: 0;
}

.about h1 {
  font-size: clamp(2rem, 6vw, 4rem);
  /* naik dari sebelumnya */
  margin-bottom: 20px;
}

.about h1 span {
  color: #ffb300;
  font-style: italic;
  font-weight: bold;
}

.about p {
  font-size: clamp(1rem, 3vw, 1.2rem);
  /* tetap responsif, tapi lebih kecil dari h1 */
  max-width:60%;
  margin: 0 auto;
  line-height: 1.6;
  padding: 0 10px;
}

/* Responsive tweaks untuk mobile devices */
@media (max-width: 768px) {
  .about-title {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .about h1 {
    margin-bottom: 10px;
  }

  .about p {
    font-size: 1rem;
  }
}

.map-section {
  width: 100%;
  padding: 20px 0;
}

.map-container {
  max-width: 100%;
  overflow: hidden;
}

.carousel-container {
  position: relative;
  flex: 2 1 400px;
  min-width: 300px;
}

.card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 0;
  text-align: center;
  transition: transform 0.3s ease;
}

.card .relative {
  position: relative;
  width: 100%;
  height: 300px;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 15px;
}

.card p {
  font-size: 0.9em;
  color: #666;
  line-height: 1.5;
  padding: 10px;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 1.2em;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.carousel-button.left {
  left: -10px;
}

.carousel-button.right {
  right: -10px;
}

.carousel-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

